<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>The Basics</string>
	<key>Pages</key>
	<array>
		<string>1MyFirstObject.playgroundpage</string>
		<string>2Modifiers.playgroundpage</string>
		<string>3Stacks.playgroundpage</string>
		<string>4AnimatingObjects.playgroundpage</string>
		<string>5Bringing2DInto3D.playgroundpage</string>
		<string>6IntegrateWithSwiftUI.playgroundpage</string>
	</array>
</dict>
</plist>
