<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>FileReference</key>
			<string>Hint1.txt</string>
		</dict>
		<dict>
			<key>FileReference</key>
			<string>Hint2.txt</string>
		</dict>
		<dict>
			<key>FileReference</key>
			<string>Hint3.txt</string>
		</dict>
		<dict>
			<key>FileReference</key>
			<string>Hint4.txt</string>
		</dict>
	</array>
</dict>
</plist>
